body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 200px;
}

#display {
    width: 100%;
    height: 50px;
    border: none;
    background: #e77b7b;
    color: rgb(255, 0, 0);
    text-align: right;
    padding: 10px;
    font-size: 24px;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    width: 100%;
    height: 50px;
    border: 1px solid #ccc;
    background: #6ac062;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #f0f0f0;
}
